body {
  background-color: powderblue;
}

a:link {
  color: SlateGrey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: plum;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: SlateBlue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: PeachPuff;
  background-color: transparent;
  text-decoration: underline;
}

h1 {
  color: gray;
  text-align: center;
  font-family: optima, sans-serif;
  font-size: 20px;
}

h2 {
  color: #778899;
  text-align: center;
  font-family: optima, sans-serif;
  font-size: 15px;
}

div {
  background-color: none;
}
